
<h2 class = "main_title mt-5 mb-2" style =" text-align:center;">게시물 작성</h2>
<hr>
<!--<form action = '/posts/create' method = 'POST'>-->
<!--    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>-->
<!--    <input type ='text' name = 'post_title'></input>-->
<!--    <textarea name='post_content'></textarea>-->
<!--    <input type ='submit' value='제출'></input>-->
<!--</form>-->



<%= render 'form' %>