<!doctype html>

<html lang = "en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	     <!--Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<style type="text/css">
		</style>
	</head>
		
	<body>
	    <h2 class = "main_title mt-5 mb-2" style =" text-align:center;">게시물 확인</h2>
        <hr>
        

        <div class="card text-center">
          <div class="card-header">
            <%= @post.title %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= @post.title %></h5>
            <p class="card-text"><%= @post.content %></p>
          </div>
          <div class="card-footer text-muted">
            <%= @post.updated_at %>
          </div>
        </div>
    </body>
      
</html>
      